h2 {
  text-align: center;
}

.Col {
  float: left;
  width: 50%;
  padding: 15px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

/* For larger screens */
.video-container {
  position: relative;
  padding-bottom: 35%; /* 16:9 aspect ratio (change this to your video's aspect ratio) */
  height: 0;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

/* For smaller screens (e.g., mobile devices) */
@media (max-width: 768px) {
  .video-container {
    padding-bottom: 75%; /* Adjust the aspect ratio for smaller screens if needed */
  }
}

.footer {
  text-align: center;
  padding: 10px;
}

.card-title {
  font-size: 10px;
}

.card-img {
  border-radius: 50%;
}

#home-wrap {
  margin-top: 50px;
  padding-top: 15px;
}
