.sign-in {
  padding: 10px;
  width: 200px;
}
.nav {
  height: 80px;
  color: black;
}

.brand {
  margin-left: 45px;
}

.search {
  margin-right: 25px;
}
.nav-search {
  padding: auto;
  padding-left: 20px;
}
