.sign-in {
  padding: 10px;
  width: 200px;
}
.nav {
  height: 80px;
  color: black;
}

.brand {
  margin-left: 45px;
}

.floating-search {
  background-color: lightgrey; /* Set the background color to white for light mode */
  width: 100%; /* Adjust the width as needed */
  transition: background-color 0.3s;
}

.nav-search-icon {
  padding-top: 8px;
  padding-left: 12px;
}
