.rss-wrap {
  border: solid 1px rgba(92, 87, 76, 0.136);
  margin-top: 55px;
  padding: 20px;
}
.rss-bg {
  border: solid 1px rgba(92, 87, 76, 0.148);

  background-color: rgba(210, 207, 203, 0.487);
  border-radius: 10px;
}
.rss {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  background-color: rgba(182, 202, 212, 0.071);
  border-radius: 5px;
  margin: 0px 20px;
  padding: 20px;
  box-shadow: rgb(73, 85, 98);
}

.latest h3 {
  color: rgb(74, 95, 112);
}
.pop-feeds h3 {
  color: rgb(74, 95, 112);
}
