.search-container {
  position: relative;
  width: 80%; /* Adjust width as needed */
  margin: auto;
}

.search-input {
  width: 100%;
}

.search-suggestions {
  max-height: 300px;
  overflow-y: auto;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px 0;
  float: left;
}

.search-results-display {
  max-height: 300px;
  overflow-y: auto;
  width: 45%;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  position: absolute;
  top: 0;
  right: 0;
}
